
<button mat-button (click)="Docviewer()">Open</button>
<div *ngIf="doc">
  <ngx-doc-viewer url="https://d.docs.live.net/76abef74740e45c8/Pictures/Saved%20Pictures/ADESH%20GAWADE%20.1.docx    " viewer="google"
    style="width:100%;height:93vh;">
  </ngx-doc-viewer>
</div>
<div class="row">
  <div class="col-12">
    <button mat-raised-button color="accent" routerLink="/home">Go Back</button>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>UserId</th>
    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="body">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.body }}</td>
  </ng-container>

  <!-- action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <div class="row">
        <div class="col-6">
          <mat-icon color="primary">edit</mat-icon>
        </div>
        <div class="col-6">
          <mat-icon color="warn" (click)="deleteUser(element.id)"
            >delete</mat-icon
          >
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

