<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section>
    <div>
      <img class="img" src="/assets/hero-banner-bg.jpg" alt="image">
    </div>
    <div>
      <img class="logo" src="/assets/logo (1).png" alt="">
    </div>
    <div class="navbar">
      <ul class="nav">
        <li class="hello" routerLink="/home">Home</li>
        <li>About us</li>
        <li>Shop</li>
        <li>Blog</li>
        <li>Contact</li>
        <mat-icon>shopping_cart</mat-icon>
      </ul>
    </div>
    <div class="text">
      <h1>Live <span>Organic</span> for live <span>Healthy</span></h1>
      <p>Organic marijuana and lot more to your door.</p>
      <button class="btn btn-outline-light">Shop Now</button>
    </div>
  </section>

  <section>
    <div class="farm">
      <h1>We are <span>Organic Farmfood</span></h1>
      <p class="about">------ About Modi Farmfood ------</p>
    </div>
    <div class="farm-images">
      <div class="img1">
        <img src="/assets/leaf-green.png" alt="green">
        <h2>Fresh From Naturix Farm</h2>
        <!-- <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium</h5> -->
        <button class="read-more-btn">Read More</button>
      </div>
      <div class="img1">
        <img src="/assets/leaf-yellow.png" alt="yellow">
        <h2>100% Organic Goods</h2>
        <!-- <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium</h5> -->
        <button class="read-more-btn">Read More</button>
      </div>
      <div class="img1">
        <img src="/assets/leaf-pink.png" alt="pink">
        <h2>Premium Quality</h2>
        <!-- <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam accusantium</h5> -->
        <button class="read-more-btn">Read More</button>
      </div>
    </div>
  </section>

  <section>
    <div class="section-3">
      <div class="leaf">
        <img src="/assets/devider-leaf.png" alt="leaf"> <br>
      </div>
      <h1>Modi<span>Organic Goods</span></h1>
    </div>
  </section>
</body>
</html>
