<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
  </button>
  <mat-menu style="height: 500px" #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon color="warn">home</mat-icon> home
    </button>
    <button mat-menu-item routerLink="/dashboard">
      <mat-icon color="primary">dashboard</mat-icon> DashBoard
    </button>
    <button mat-menu-item routerLink="/approval">
      <mat-icon color="accent">approval</mat-icon> Approval
    </button>
    <button mat-menu-item routerLink="/">
      <mat-icon color="warn">phone</mat-icon> contact
    </button>
    <button mat-menu-item routerLink="/">
      <mat-icon color="accent">share</mat-icon> Share
    </button>
  </mat-menu>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon (click)="openDailog()">login</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon routerLink="home">home</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon routerLink="/dashboard">dashboard</mat-icon>
  </button>
</mat-toolbar>

<ng-template #myForm>
  <mat-toolbar color="primary">
    <span>Login Form</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>password</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Mobile No</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Education</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-end">
      <button mat-raised-button color="warn" class="mx-2">cancle</button>
      <button mat-raised-button color="primary">save</button>
    </div>
  </div>
</ng-template>

<section>
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682411157_Sansui_Desktop.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682505274_Moto_G42_Desktop.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682358890_Cycles.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section>
  <img
    class="adi"
    src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682435474_Sim_Delivery_25042023_1240_X_194_px.jpg"
    alt=""
  />
</section>

<div class="cards">
  <img
    src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682426553_Home_Furnishing.jpg"
    alt=""
  />

  <img
    src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682426637_Cookware_Range.jpg"
    alt=""
  />

  <img
    src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682426711_Toys.jpg"
    alt=""
  />

  <img
    src="https://www.jiomart.com/images/cms/aw_rbslider/slides/1682426711_Toys.jpg"
    alt=""
  />
</div>

<section class="carLaunch">
  <div class="row">
    <div class="col-6 p-7">
      <img
        class="carImg"
        src="https://static.autox.com/uploads/2021/03/Upcoming-cars-in-March-April.jpg"
        alt=""
      />
    </div>
    <div class="col-6">
      <h1>Biggest's sale In This Year</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, placeat
        enim ullam sit quas consequatur <br />
        cupiditate ut repellendus assumenda exercitationem est nulla tenetur
        provident dolore. <br />
        Hic ex fugiat dicta sed.
      </p>
    </div>
  </div>
</section>
